
*.xml
*.iml
*.pyc
*.jsonl
*.vcb
*.classes
*.src
*.cats
*.tgt
*.snt
*.alignment
*.final
*.zip
*.yml
*.patch
datasets/reg_attn_data/data/cfq/.DS_Store
datasets/reg_attn_data/data/cfq/mcd1/.DS_Store
datasets/reg_attn_data/data/cfq/mcd2/.DS_Store
datasets/reg_attn_data/data/cfq/mcd3/.DS_Store
datasets/reg_attn_data/data/smcalflow_cs/.DS_Store
datasets/reg_attn_data/data/smcalflow_cs/calflow.orgchart.event_create/.DS_Store
